* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: 600; }

body {
  font-family: 'ff-enzo-web', sans-serif;
  color: white;
  line-height: 1.4;
  background-color: #1a1a1a; }

h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5); }

p {
  margin-bottom: 1rem; }

.wrapper {
  box-sizing: border-box;
  padding: 4rem 0; }

.container {
  box-sizing: border-box;
  margin: 0 auto; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

::selection {
  background: #33ddff; }

@media screen and (max-width: 749px) {
  .container {
    width: 280px; } }
@media screen and (min-width: 750px) {
  .container {
    width: 700px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 1120px; } }
.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.6rem 1rem 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  transition: 0.15s ease;
  transition-property: color, border-color; }
  .button:hover {
    color: #33ddff;
    border-color: #33ddff; }
  .button.round {
    border-radius: 2rem; }
  .button.large {
    padding: 0.7rem 3rem 0.6rem 3rem;
    font-size: 1.1rem; }

.primary.wrapper {
  background: url("../images/market.jpg") top center/cover no-repeat #1a1a1a; }
  .primary.wrapper nav {
    margin-bottom: 8rem; }
    @media screen and (min-width: 1200px) {
      .primary.wrapper nav {
        margin-bottom: 12rem; } }
    .primary.wrapper nav h1 {
      height: 60px;
      margin-bottom: -60px; }
    .primary.wrapper nav .button {
      float: right;
      margin-top: 0.75rem;
      margin-bottom: -1.25rem; }
  .primary.wrapper h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: #33ddff; }
    @media screen and (min-width: 750px) {
      .primary.wrapper h2 {
        font-size: 5rem; } }
    @media screen and (min-width: 1200px) {
      .primary.wrapper h2 {
        font-size: 8rem; } }
    .primary.wrapper h2 strong {
      font-weight: bold; }
  .primary.wrapper h3 {
    margin-bottom: 4rem;
    font-size: 1.75rem; }
    @media screen and (min-width: 1200px) {
      .primary.wrapper h3 {
        margin-bottom: 6rem; } }
  @media screen and (min-width: 750px) {
    .primary.wrapper .services p {
      width: 75%; } }

.contact.wrapper {
  background: #4b5055; }

.work {
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 1px solid white; }
  .work .links {
    margin-top: 2rem;
    list-style-type: none; }
    .work .links li {
      display: inline; }
      .work .links li .button {
        margin: 0 0.5rem 0.5rem 0; }

.team {
  margin: 10rem 0 5rem 0; }
  @media screen and (min-width: 750px) {
    .team p {
      float: left;
      width: 60%; } }
  .team .members {
    list-style-type: none; }
    .team .members li {
      height: 5rem;
      background-color: #4b5055; }
      @media screen and (min-width: 750px) {
        .team .members li {
          float: right;
          width: 30%; } }
      .team .members li .portrait {
        float: left;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
        background-color: #33ddff; }
      .team .members li h5 {
        padding: 1rem 0 0 1rem; }

.contact {
  height: 30rem; }
  .contact .button {
    margin-top: 1.25rem; }
