// Variables

$dark:      #1a1a1a;
$medium:    #4b5055;
$highlight: #33ddff;

$tablet:    750px;
$desktop:   1200px;


// Structure

* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-weight: 600;
}

body {
  font-family: 'ff-enzo-web', sans-serif;
  color: white;
  line-height: 1.4;
  background-color: $dark;
}

h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: transparentize(white, 0.5);
}

p {
  margin-bottom: 1rem;
}

.wrapper {
  box-sizing: border-box;
  padding: 4rem 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

::selection {
  background: $highlight;
}

@media screen and (max-width: ($tablet - 1)) {
  .container {
    width: 280px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    width: 700px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: 1120px;
  }
}


// Elements

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.6rem 1rem 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 2px solid transparentize(white, 0.25);
  border-radius: 4px;
  transition: 0.15s ease;
  transition-property: color, border-color;
  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
  &.round {
    border-radius: 2rem;
  }
  &.large {
    padding: 0.7rem 3rem 0.6rem 3rem;
    font-size: 1.1rem;
  }
}

.primary.wrapper {
  background: url('../images/market.jpg') top center / cover no-repeat $dark;
  nav {
    margin-bottom: 8rem;
    @media screen and (min-width: $desktop) {
      margin-bottom: 12rem;
    }
    h1 {
      height: 60px;
      margin-bottom: -60px;
    }
    .button {
      float: right;
      margin-top: 0.75rem;
      margin-bottom: -1.25rem;
    }
  }
  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: $highlight;
    @media screen and (min-width: $tablet) {
      font-size: 5rem;
    }
    @media screen and (min-width: $desktop) {
      font-size: 8rem;
    }
    strong {
      font-weight: bold;
    }
  }
  h3 {
    margin-bottom: 4rem;
    font-size: 1.75rem;
    @media screen and (min-width: $desktop) {
      margin-bottom: 6rem;
    }
  }
  @media screen and (min-width: $tablet) {
    .services p {
      width: 75%;
    }
  }
}

.contact.wrapper {
  background: $medium;
}

.work {
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 1px solid white;
  .links {
    margin-top: 2rem;
    list-style-type: none;
    li {
      display: inline;
      .button {
        margin: 0 0.5rem 0.5rem 0;
      }
    }
  }
}

.team {
  margin: 10rem 0 5rem 0;
  @media screen and (min-width: $tablet) {
    p {
      float: left;
      width: 60%;
    }
  }
  .members {
    list-style-type: none;
    li {
      height: 5rem;
      background-color: $medium;
      @media screen and (min-width: $tablet) {
        float: right;
        width: 30%;
      }
      .portrait {
        float: left;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
        background-color: $highlight;
      }
      h5 {
        padding: 1rem 0 0 1rem;
      }
    }
  }
}

.contact {
  height: 30rem;
  .button {
    margin-top: 1.25rem;
  }
}
